{
  "JWT_SECRET": "putyoursecrethere",
  "SECRET_ACCESS_KEY": "YOUR_IAM_SECRET_HERE",
  "ACCESS_KEY": "YOUR_ACCESS_KEY_HERE",
  "ENDPOINTSQS": "https://YOUR_AWS_REGION-HERE.amazonaws.com/XXXX/queue"
}
